<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Haven ₍^. .^₎⟆</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1><a href="/">CAT HAVEN</a></h1>
        <nav>
            <a href="/general">GENERAL</a>
            <a href="/advice">ADVICE</a>
            <a href="/mourning">MOUNRING & LOSS</a>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h2>Hello!</h2>
            <p>Welcome to Cat Haven-the purrfect place where cat lovers around the world unite!</p>
            <p>You can post anything from your appreciating your feline fur-babies to questions about taking care of cats! But we have a few rules...</p>
            <ul>
                <li>Respect other users</li>
                <li>Give credit where credit is due</li>
                <li>No NSFW, animal abuse, or cruelty</li>
                <li>No medical questions, that's for the vet!</li>
            </ul>
            <p><strong>That's all! Have fun!</strong></p>
        </section>
        <section id="gif-container">
            <img class="gif" src="pusheen.gif">
            <img class="gif" src="cat-pop.gif">
            <img class="gif" src="bob.gif">
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Maxine DeLuca--Networked Media IMA</p>
    </footer>
</body>
</html>